body{
    text-align: center;
    padding: 50px 20%;
}

header > h1 {
    color: rgb(155, 71, 71);
}

footer > h6{
    color: rgb(163, 36, 151);
}

form{
    border: 2px solid silver;
    border-radius: 15px;
    padding: 30px;
    width: 450px;
    margin: 30px auto;
    box-shadow: 10px 10px 50px silver;
    background:rgba(199, 201, 175, 0.682);
}
.my-btn{
    width: 150px;
    margin: 25px 2px 15px 2px;
}
.my-form-group{
    text-align: left;
}
label{
    margin-bottom: 0px !important;
}
.alert{
    color: red;
    margin: 0px;
    padding: 0px;
}